<header class="header text-center">
    <section class="container">
        <svg class="img" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
            <path d="M50 1a49 49 0 1 0 0 98 49 49 0 0 0 0-98zm0 5a44 44 0 1 1 0 88 44 44 0 0 1 0-88zm-5 7c-3 0-3 5 0 5 20 0 37 17 37 37 0 3 5 3 5 0 0-23-19-42-42-42zM13 45c0 23 19 42 42 42 3 0 3-5 0-5-20 0-37-17-37-37 0-3-5-3-5 0z"/>
        </svg>
        <h1>Rotagi Systems</h1>
        <h3>IT-Dienstleistungen <br>
            <i><small>Ihr Projekt in guten Händen</small></i>
        </h3>
    </section>
</header>
