<nav class="navigation">
    <section class="container">
        <a class="navigation-title" href="{{ '/' | prepend: site.baseurl }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" fill="none" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"><circle cx="50" cy="50" r="47.5" /><path d="m 15,45 a 40,40 0 0 0 40,40" /><path d="m 85,55 a 40,40 0 0 0 -40,-40" /></svg>
            <h1 class="title">Rotagi Systems</h1>
        </a>
        <ul class="navigation-list float-right">
            <li class="navigation-item">
                <a class="navigation-link" href="{{ '/kontakt/' | prepend: site.baseurl }}">Kontakt</a>
            </li>
        </ul>
    </section>
</nav>
